[user]
  name = fcamel
  email = fcamel@gmail.com
[github]
	user = fcamel
[color]
  diff = auto
  status = auto
  branch = auto
  log = auto
[alias]
  ci = commit
  st = status
  unstage = reset HEAD
  conflicts = diff --name-only --diff-filter=U
  log-deleted = log --
