H2
{
        text-align: left;
        margin-left: 0in;
        margin-right: 0in;
        margin-top: 18pt;
        margin-bottom: 7pt;
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 18pt;
        letter-spacing: 0em;
        color: #000093;
        text-indent: 0in;
        line-height: 18pt;
        text-decoration: none ;
}

H3
{
        text-align: left;
        margin-left: 0in;
        margin-right: 0in;
        margin-top: 18pt;
        margin-bottom: 7pt;
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 18pt;
        letter-spacing: 0em;
        color: #000000;
        text-indent: 0in;
        line-height: 18pt;
        text-decoration: none ;
}

H3.admon
{
        text-align: left;
        margin-left: 0in;
        margin-right: 0in;
        margin-top: 6pt;
        margin-bottom: 0pt;
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 12pt;
        letter-spacing: 0em;
        color: #000000;
        text-indent: 0in;
        text-decoration: none ;
}

H4
{
        text-align: left;
        margin-left: 0in;
        margin-right: 0in;
        margin-top: 14pt;
        margin-bottom: 7pt;
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 14pt;
        letter-spacing: 0em;
        color: #000093;
        text-indent: 0in;
        line-height: 14pt;
        text-decoration: none ;
}

H5
{
        text-align: left;
        margin-left: 0in;
        margin-right: 0in;
        margin-top: 12pt;
        margin-bottom: 5pt;
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 12pt;
        letter-spacing: 0em;
        color: #000000;
        text-indent: 0in;
        line-height: 12pt;
        text-decoration: none ;
}

H6
{
        text-align: left;
        margin-left: 0in;
        margin-right: 0in;
        margin-top: 12pt;
        margin-bottom: 5pt;
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 10pt;
        letter-spacing: 0em;
        color: #000000;
        text-indent: 0in;
        line-height: 12pt;
        text-decoration: none ;
}

p.HeaderText 
{
        text-align: left;
        margin-left: 0in;
        margin-right: 0in;
        margin-top: 6pt;
        margin-bottom: 6pt;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 12pt;
        letter-spacing: 0em;
        color: #000000;
        text-indent: 0in;
        line-height: 14pt;
        text-decoration: none;
}

p.NormalText 
{
        text-align: left;
        margin-left: 0in;
        margin-right: 0in;
        margin-top: 6pt;
        margin-bottom: 6pt;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 10pt;
        letter-spacing: 0em;
        color: #000000;
        text-indent: 0in;
        line-height: 12pt;
        text-decoration: none ;
}

p.cellbody 
{
        text-align: left;
        margin-left: 0in;
        margin-right: 0in;
        margin-top: 6pt;
        margin-bottom: 6pt;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 10pt;
        letter-spacing: 0em;
        color: #000000;
        text-indent: 0in;
        line-height: 12pt;
        text-decoration: none ;
}

p.CellHeading 
{
        text-align: left;
        margin-left: 0in;
        margin-right: 0in;
        margin-top: 6pt;
        margin-bottom: 6pt;
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 12pt;
        letter-spacing: 0em;
        color: #000000;
        text-indent: 0in;
        line-height: 12pt;
        text-decoration: none ;
}

span.guibutton 
{
	font-family: Courier New;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 11pt;
	text-decoration: none ;
}

span.guimenu 
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 12pt;
	text-decoration: none ;
}

span.guimenuitem 
{
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 10pt;
        letter-spacing: 0em;
        color: #000000;
        line-height: 12pt;
        text-decoration: none ;
}

span.guibutton
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 12pt;
	text-decoration: none ;
}

span.guilabel 
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 12pt;
	text-decoration: none ;
}

span.guilabelitem 
{
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 10pt;
        letter-spacing: 0em;
        color: #000000;
        line-height: 12pt;
        text-decoration: none ;
}

code.filename 
{
        font-family: Courier New;
        font-weight: normal;
        font-style: normal;
        font-size: 9pt;
        letter-spacing: 0em;
        color: #000000;
        line-height: 11pt;
        text-decoration: none ;
}

strong.command
{
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 9pt;
        letter-spacing: 0em;
        color: #000000;
        line-height: 11pt;
        text-decoration: none ;
}

strong.keycap
{
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 9pt;
        letter-spacing: 0em;
        color: #000000;
        line-height: 11pt;
        text-decoration: none ;
}

strong
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 12pt;
	text-decoration: none ;
}

span.bold
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 12pt;
	text-decoration: none ;
}

span.emphasis
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 12pt;
	text-decoration: none ;
}

span.keycap
{
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 10pt;
        letter-spacing: 0em;
        color: #000000;
        line-height: 12pt;
        text-decoration: none ;
}

table
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

th
{
        padding-left: 6pt;
        padding-right: 6pt;
        padding-top: 6pt;
        padding-bottom: 4pt;
        white-space: nowrap;
}

td
{
        padding-left: 4pt;
        padding-right: 4pt;
        padding-top: 4pt;
        padding-bottom: 4pt;
}

pre.programlisting
{
        font-family:monospace;
        white-space: pre;
        width: 100%;
        padding-left: 15pt;
}

pre.screen
{
        font-family:monospace;
        white-space: pre;
        width: 100%;
        padding-left: 15pt;
}

div.caution
{
        background-color: #FFC1CE;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 10pt;
        padding-left: 6pt;
        padding-right: 6pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        border-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-style: solid;
}

div.note
{
        background-color: #F0EABD;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 10pt;
        padding-left: 6pt;
        padding-right: 6pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        border-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-style: solid;
}

div.tip
{
        background-color: #B3E1B0;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 10pt;
        padding-left: 6pt;
        padding-right: 6pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        border-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-style: solid;
}

div.warning
{
        background-color: #FFC1CE;
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 10pt;
        padding-left: 6pt;
        padding-right: 6pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        border-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-style: solid;
}


